<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes</title>
</head>
<body>
  <main>

    <h2><%= pokemon.nome %></h2> 

    <p><%= pokemon.descricao %></p>
    <p>Tipo: <%= pokemon.tipo %></p>
    <p>Altura: <%= pokemon.altura %></p>
    <p>Peso: <%= pokemon.peso %></p>
    <p>Categoria: <%= pokemon.categoria %></p>
    <p>Habilidade:<%= pokemon.habilidade %></p>
  
  </main>
</body>
</html>